# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
glassfish-resources.xml

 WheelGo-ejb/nbproject/private/

private.xml
# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
/WheelGo-ejb/nbproject/private/
/WheelGo-war/nbproject/private/
