/* 
    Document   : wheelgo-layout
    Created on : May 26, 2012, 9:42:57 PM
    Author     : vlada
    Description:
        Purpose of the stylesheet follows.
*/

/* ========== Obecne direktivy ========== */
* {margin: 0; padding: 0;}
html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    font: 1.2em Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 60px;
}


/* ========== Layout ========== */
#wrap {
    width: 1000px;
    margin: 50px auto -4em auto;
    text-align: left;
    border: 1px solid green;
    background: url('background.gif') repeat-y 25% 0;
}

#top {
    padding: 10px;
    border-bottom: 1px solid green;
    background: #F0FBDF;
}

#content {
    float: right;
    width: 75%;
}

#left{
    float: left;
    width: 25%;
    text-align: center;
}


#left-in, #content-in {
    margin: 0.8em 1.2em;
}



.cleaner {
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
}



#bottom, .push {
    height: 4em;
}

.noscreen {display: none;}